<ActionBar title="Editar"></ActionBar>

<FlexboxLayout
    flexDirection="column"
    class="p-16"
>
    <FlexboxLayout
        flexDirection="column"
        backgroundColor="#f1f1f1"
        class="p-8"
        marginBottom="16"
    >
        <Label
            class="h3"
            text="Nome:"
        ></Label>
        <TextField
            type="text"
            [(ngModel)]="hero.name"
        >
        </TextField>
    </FlexboxLayout>

    <Button
        text="SALVAR"
        (tap)="save()"
        margin="0"
        style="background-color: #B6D7A8;"
    ></Button>

    <Button
        text="CANCELAR"
        (tap)="goBack()"
        margin="0"
        style="background-color: #CC4125;"
        color="white"
    ></Button>
</FlexboxLayout>
